<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta charset="ISO-8859-1">
<!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}" />
<title>Class Room Home</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div align="center">
				<div class="jumbotron text-center">
					<h1> Class Room Home </h1>
						<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="navbar-header">
								<a class="navbar-brand" href="#">Class Room Home</a>
							</div>
							<ul class="nav navbar-nav">
								<li><a href="/">Home</a></li>
								<li><a href="/room">Room</a></li>
								<li class="active"><a href="/ClassRoom">Class Room</a></li>
								<li><a href="/conference">Conference</a></li>
								<li><a href="/location">Location</a></li>
								<li><a href="/venu">Venu</a></li>
								<li><a href="/topics">Topics</a></li>
								<li><a href="/timeslot">Time Slot</a></li>
								<li><a href="/speaker">Speaker</a></li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li><a href="#"><span class="glyphicon glyphicon-user"></span>
										Sign Up</a></li>
								<li><a href="#"><span
										class="glyphicon glyphicon-log-in"></span> Login</a></li>
							</ul>
						</div>
					</nav>
					<h3 class="">Class Room List</h3>
				</div>
				<a class="btn btn-lg btn-primary" href="/newClassRoom">Create New
				Class Room</a> 
			</div>
			
			<table class="table table-striped table-border" cellpadding="10">
				<thead>
					<tr>
						<th>Class Room ID</th>

						<th>Cooling</th>
						<th>Sound System</th>

						<th>Seats</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="classroom : ${listClassRoom}">
						<td th:text="${classroom.id}">Room Number</td>
						<td th:text="${classroom.seats}">RoomCapcity</td>
						<td th:text="${classroom.soundsystem}">Room Height</td>

						<td><a class="btn btn-primary"
							th:href="@{/editClassRoom/{id}(id=${classroom.id})}">Edit</a>
							&nbsp;&nbsp;&nbsp; <a class="btn btn-primary"
							th:href="@{/deleteClassRoom/{id}(id=${classroom.id})}">Delete</a></td>
							</tr>
				</tbody>
			</table>
		</div>
	</div>
	</div>
	<!-- Bootstrap core JavaScript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>
</html>

</body>
</html>